<% if list_item == @current_item %>
	<tr id ="current_item">
<% else %>
	<tr>
<% end %>
		<td><input type="checkbox" name="Restaurant" value="<%= list_item.restaurant.Name %>"> <%= list_item.restaurant.Name %> <%= link_to 'X', list_item, :method => :delete, :remote => true %></input></td>
	</tr>